* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(119, 204, 233);
}

.titulo {
    color: rgb(9, 30, 121);
}

main {
    color: rgb(9, 30, 121);
}

img {
    border: 5px solid black;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: flex-end
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}